.searchBarWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
}
.mainSearchQuery {
  flex: 1;
  padding: 10px;
}
.searchQueryButton {
  flex: 1;
  padding: 10px 0;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3em;
  background-color: #8a8a8d;
  color: white;
  transition: all 0.1s ease-in;
  text-shadow: 1px 1px 4px black;
  border-radius: 5px;
}
.searchQueryButton:hover {
  background-color: #b4b4b4;
  text-shadow: 1px 1px 1px black;
}
