.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #10162F;
    color: rgb(250, 253, 255);
    /* overflow: hidden; */
}

nav {}

header {}

main {}

footer {}